@()
<!doctype html>
<html lang="en" data-framework="angular2">
    <head>

        <base href="/">

        @* In this version of the application the typescript compilation is done by the play framework.
        The browser downloads .js files. *@
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>Fantapesce Distributed Auction System</title>

        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/bootstrap.css")'>
        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/bootstrap-theme.css")'>
        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/font-awesome.css")'>
        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/styles.css")'>
        @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">*@


        <script type='text/javascript' src='@routes.Assets.versioned("lib/systemjs/dist/system-polyfills.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("lib/core-js/client/shim.min.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("lib/zone.js/dist/zone.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("lib/reflect-metadata/Reflect.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("lib/systemjs/dist/system.src.js")'></script>

        @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>*@
        @*<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>*@
        @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>*@
        <script>    @* our app is downloaded as individual javascript files by SystemJs
                     after compilation by sbt-typescript*@
        var map = {
            'app': 'assets/app',
            '@@angular': 'assets/lib/@@angular',
            'rxjs': 'assets/lib/rxjs',
            'symbol-observable': 'assets/lib/symbol-observable'

        };

        var packages = {
            'app': {main: 'main.js', defaultExtension: 'js'},
            'rxjs': {defaultExtension: 'js'},
            'assets/lib': {defaultExtension: 'js'},
            'symbol-observable': {defaultExtension: 'js', main: 'index.js'}
        };

        var ngPackageNames = [
            'common',
            'compiler',
            'core',
            'http',
            'platform-browser',
            'platform-browser-dynamic',
            'router',
            'forms'
        ];

        function packIndex(pkgName) {
            packages['@@angular/' + pkgName] = {main: 'index.js', defaultExtension: 'js'};
        }
        function packUmd(pkgName) {
            packages['@@angular/' + pkgName] = {main: '/bundles/' + pkgName + '.umd.js', defaultExtension: 'js'};
        }
        // Most environments should use UMD; some (Karma) need the individual index files
        function addAngularModulesToMap(pkgName) {
            map['@@angular/' + pkgName] = 'assets/lib/angular__' + pkgName;
        }

        // Add package entries for angular packages
        var setPackageConfig = System.packageWithIndex ? packIndex : packUmd;
        ngPackageNames.forEach(setPackageConfig)

        // Add map entries for angular packages
        ngPackageNames.forEach(function (pkgName) {
            addAngularModulesToMap(pkgName)
        });

        System.config({
            map: map,
            packages: packages,
        });
        @* SystemJs works out which other modules our app module depends on and will download and load them*@
        System.import('app')
                .catch(console.error.bind(console));

        </script>
    </head>
    <body>
        <my-app></my-app>
    </body>
</html>
